 #header{
            width:100%;
            height:80px;
             background-color: rgb(235, 123, 11);
            border-top-left-radius:10px;
            border-top-right-radius:10px;
        }
        span{
            position:absolute;
            top:20px;
            left: 20px;
            font-size: 40px;
            color:white;
            font-weight: 900;
        }
        nav{
            position: absolute;
            right:50px;
            top:40px;
        }
        .text-area{
            text-align: center;
            font-size:20px;
            height:200px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            line-height: 0.3px;        
        }
        main{
            height:550px
        }
      .items-container{
       
        width:100%;
        height:300px;
        background-color:rgb(184, 188, 192);
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        
        
      }
      .box{
        width: 300px;
        height:250px;
        background-color: rgb(248, 248, 242);
        border-radius:5px  
      }
      #box1{
        display:flex;
        flex-direction: column;
        justify-content: start;
        align-items:center;
        line-height: 0.5px;
      }
       #box2{
        display:flex;
        flex-direction: column;
        justify-content: start;
        align-items:center;
        line-height: 0px;
      }
       #box3{
        display:flex;
        flex-direction: column;
        justify-content: start;
        align-items:center;
        line-height: 0.1px;
      }
      button{
        background-color: rgb(235, 123, 11);
        width:120px;
        height:40px ;
        border-style: none;
        border-radius: 5px;
        animation-name:buttonss;
        animation-timing-function: ease-in-out;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      @keyframes buttonss {
        from{
            transform: scale(1.3);
        }
        to{
            transform:scale(1)
        }
        
      }
    h4{
        color: rgb(94, 104, 113);
    }
    #footer{
        width:100%;
        height:50px;
        background-color:rgb(43, 47, 51);
        color:white;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:20px;
        
    }